*{
    margin: 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;  
    color: #666D89;
}

.header {
    width: 100%;
    height: 89px;
    background-color: #2D303A;
}

.logo-text{
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.flex {
    display: flex;
    justify-content: space-between; 
    align-items:center;  
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.main-nav{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
}

.navbar {
    color:white;
}
.navbar li {
    display: inline;
    margin-right: 14px;
    font-size: 14px;
} 

.slide-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F06C64;
    width: 100%;
    height: 570px;
}

.vertical-display {
    position: relative;
   
}
.vertical-display-pered{
    position: absolute;
    border-top: 60px solid #F2F2F2;
    border-right: 15px solid #F2F2F2;
    border-left: 15px solid #F2F2F2;
    border-bottom: 60px solid #F2F2F2;
    border-radius: 9%;
    z-index: 1
}
.vertical-display-shadow{
    position:relative;
}
.vector-button{
    position:absolute;
    position: absolute;
    z-index: 3;
    top: 412px;
    left: 102px;
}
.vector-circle{
    position:absolute;
    position: absolute;
    padding-top: 400px;
    padding-left: 90px;
    z-index: 2;
}
.vector-circle-tru{
    position: absolute;
    z-index: 4;
    left: 94px;
    top: 35px;
}

.horizontal-display2 {
    position:relative;
}
.horizontal-display-pered{
    position:absolute;
    border-top: 15px solid #F2F2F2;
    border-left: 60px solid #F2F2F2;
    border-right: 60px solid #F2F2F2;
    border-bottom: 15px solid #F2F2F2;
    border-radius: 9%;
    z-index: 1
    
}
.horizontal-display-shadow{
    position:relative;
    
}
.horizontal-vector-circle{
    position: absolute;
    z-index: 4;
    top: 88px;
    left: 9px;
}
.horizontal-vector-circle-tru{
    position: absolute;
    z-index: 4;
    left: 410px;
    top: 91px;
}
.horizontal-vector-button{
    position:absolute;
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 22px;
}

.array-right {
    position: relative;
    border-left: 0.3rem solid #E94348;
    border-bottom: 0.3rem solid #E94348;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    border-radius: 20%;
    cursor: pointer;
}
.array-left {
    position: relative;
    border-left: 0.3rem solid #E94348;
    border-bottom: 0.3rem solid #E94348;
    width: 1rem;
    height: 1rem;
    transform: rotate(220deg);
    border-radius: 20%;
    cursor: pointer;
}


.content-block {

    margin: 0px auto;
}
.content-servis {
 background-color: #F2F2F2;
}
.h2-servis{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#666D89;
    padding: 60px 600px 18px 40px;

}

.content-text-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    padding-left: 40px;
    padding-right: 44px;
}


.block {
    display: flex;
    background-color: #F2F2F2;
}

.first-block {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
}

.second-block {
    display:flex;
    justify-content: space-between;
}
.third-block{
    display: flex;
    flex-direction:column;
    padding-bottom: 30px;
    padding-right: 20px;
}
.third-block h3{
    color:#666D89;
    font-size: 18px;
    padding-bottom: 7px;
}
.third-block p{
    color:#666D89;
    font-size: 12px;
}
.circle-img{
    position:relative;
}
.nocircle-img{
    position:absolute;
    justify-content: center;
    text-align: center;
    padding: 14px;
}

.block-portfolio{
    background-color:#2D303A;
}
.section-header{
    color: #666D89;
}
.section-header h3{
    color: #666D89;
    padding-top: 49px;
    padding-left: 40px;
    padding-bottom: 14px;
}
.section-header p{
    padding-left: 40px;
    padding-bottom: 14px;
}
.filter-list{
    display:flex;
    justify-content:space-between;
    max-width: 20%;
    padding-left: 40px;
    padding-bottom: 12px;
    font-size: 14px;
    border-color: #666D89;
    color: #666D89;
}
.filter-list-section{
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 5px;
}

.portfolio-images{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.flex-porfoli-images{
    
}

.enter-image{
    padding: 10px;
}


.footer-flex {
    display:flex;
}

.footer-copyright {

}

.footer-first-facebook {
position: relative;
}

.footer-circle {
 position: absolute;
}

.footer-facebook {
 position: absolute;
}

